*.swo
*.swp

# Hackage specific
# Documentation
htmldocs/*

# My notes
helper_dir/*

# Stack
.stack-work/

# Cabal
.cabal-sandbox/
cabal.sandbox.config
dist
*.hi
*.o

# MiniZinc models and results
*.mzn
*.dzn
*.fzn
*.results.txt

# Local specific
HZconf/conf.txt
