*.swo
*.swp

# Hackage specific
# Documentation
htmldocs/*

# My notes
notes.txt

# Cabal
.cabal-sandbox/
cabal.sandbox.config
dist

# MiniZinc models
*.mzn
*.dzn
*.fzn

# Local specific
HZconf/conf.txt